#navbarNav {
	margin-right: 140px;
}

.nav-item {
	padding: 0 10px;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
}

.container {
  height: 250px;
  width: 750px;
	border: 1px solid #DDDDDD;
	background-color: white;
	margin-top: 150px;
  position: relative;
  text-align: center;
	padding-top:10px;
}

}
h3{
  color: Black;
}

 p{
  color: grey;
	position: center;
	padding-bottom: 5px;
}
