body {
	background-size: cover;
	background-image: url(../assets/contact-us-background.jpg);
}

.background {
	background: rgba(0,0,0,0.5);
	height: 100vh
}

#navbarNav {
	margin-right: 140px;
}

.nav-item {
	padding: 0 10px;
}

#navbarNav {
	margin-right: 140px;
}

.nav-item {
	padding: 0 10px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 56%;
	text-align: center;
	padding: 60px 0 20px 0;
	color: rgba(255,255,255,0.8);
}

.para {
	display: flex;
	color: grey;
	flex-direction: row;
	justify-content: center;
	max-width: 56%;
	text-align: center;
	color: rgba(255,255,255,0.8);
}

.form-container{
	display:flex;
	justify-content: center;
}

label {
	color: rgba(255,255,255,0.8);
}

.button {
	padding: 10px;
}

.submit-btn {
	width: 30%;
}