#navbarNav {
	margin-right: 140px;
}

.nav-item {
	padding: 0 10px;
}

#navbarNav {
	margin-right: 140px;
}

.nav-item {
	padding: 0 10px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 56%;
	text-align: center;
	padding: 20px 0 10px 0;
	background-color: white;
	margin-top: 40px;
}

.para {
	display: flex;
	color: grey;
	flex-direction: row;
	justify-content: center;
	max-width: 56%;
	text-align: center;
	background-color: white;
}

.form-container{
	display:flex;
	justify-content: center;
}

form{
	background-color: white;
}
.button {
	padding: 10px;
}

button {
	width: 30%;
}

#map {
	height: 590px;
	width: 100%;
	position: absolute;
}
