body {

}


#navbarNav {
	margin-right: 140px;
	font-family: 'Karla';
	font-size: 1.5vw;
}

.nav-item {
	padding: 0 10px;
}

.vertical {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: calc(100vh - 60px);
	background-color:rgba(255,255,255, 0.2);
	font-family: 'Karla';
	font-size: 1.5vw;
}


.form-control {
	padding: 25px;
	border-radius: 50px;
}

.title {
	margin: 0 0 30px;
	color: white;
	font-family: 'Open Sans';
	font-weight: 700;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-3px 3px 0 #000,
		1px 1px 0 #000;
}

.btn {
	height: 50px;
	border-radius: 50px;
}

.line-name {
	height: 62px;
}

#result {
	font-size: 35px;
	font-family: "Open Sans";
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-3px 3px 0 #000,
		1px 1px 0 #000;
	color: rgba(255,255,255);
	border-bottom: 5px solid;
	padding-bottom: 5px;
}

.carousel{
	position: absolute;
	z-index: -1;
}
